.dashboard-container {
    display: flex;
    flex-wrap: nowrap;
    
    @media (max-width: 768px) {
      flex-direction: column; /* Stack the sidebar and content on top of each other on smaller screens */
    }
  }
  
  .sidebar {
    // border: 2px solid red;
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    height: auto;
    border-right: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
  
    @media (max-width: 1200px) {
      width: 200px; /* Slightly smaller on medium devices */
    }
  
    @media (max-width: 768px) {
      width: 100%; /* Full width on smaller screens */
      height: auto; /* Auto height on mobile */
      border-right: none; /* Remove the border on smaller screens */
      border-bottom: 1px solid #ccc; /* Add a bottom border instead */
    }
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    cursor: pointer;
    padding: 10px 0;
    color: #333;
  }
  
  .sidebar ul li:hover {
    background-color: #ddd;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  
    @media (max-width: 768px) {
      padding: 10px; /* Reduce padding on smaller screens */
    }
  }
  
  /* Adjust content padding for smaller screens */
  @media (max-width: 1200px) {
    .content {
      padding: 15px;
    }
  }
  
  /* Mobile-specific adjustments */
  @media (max-width: 768px) {
    .sidebar ul li {
      padding: 8px 0; /* Slightly smaller padding for mobile */
    }
  
    .sidebar ul li:hover {
      background-color: #ccc; /* Slightly darker hover effect on mobile */
    }
  
    .content {
      flex-grow: 1;
    }
  }
  
  /* Extra small devices */
  @media (max-width: 576px) {
    .sidebar {
      padding: 10px;
    }
  
    .content {
      padding: 8px;
    }
  }
  