.card-product {
  // border: 2px solid red;

  // width: 25rem;

  .card-image {
    padding: 10px;
    width: 350px;
    height: 200px;
  }

  @media (max-width: 1427px) {
    width: 19rem;

    .card-image {
      width: 290px;
      height: 190px;
    }


  }

  @media (max-width: 1280px) {
    width: 18rem;

    .card-image {
      width: 280px;
      height: 180px;
    }


  }

  @media (max-width: 1200px) {
    width: 17rem;

    .card-image {
      width: 270px;
      height: 170px;
    }
  }

  @media (max-width: 1077px) {
    width: 16rem;

    .card-image {
      width: 250px;
      height: 160px;
    }
  }

  @media (max-width: 992px) {
    width: 20rem;

    .card-image {
      width: 300px;
      height: 200px;
    }
  }

}
